.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.myform{
  margin-top:50px;
  border: 1px solid #52525B;
}

.icons-align{
  margin-top: 33px;
}

.contact-header{
  background-color: #000033;
  height: 26px;
  color: white;
  font-size: 12px;

}

.contact-toolbar{
  background-color: #52525B;
  height: 24px;
}